.css-pay28z-MuiDataGrid-root .MuiDataGrid-cell {
    font-size: 14px;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-size: 14px;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    font-size: 1.125rem !important;
}
.css-ptiqhd-MuiSvgIcon-root{
    font-size: 2.0rem !important;
}